@font-face {
    font-family: 'title-font';
    src: url(../font/blackout-master/Blackout\ Midnight.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-container-fluid {

    .my-row {

        .solution-div{
            width: 12rem;
            height: 1.5rem;
            background-color: rgb(171, 186, 186);
            transition: height .5s ease-in-out;
            cursor: pointer;

            &:hover{
                height: 10rem;
                transition: height .5s ease-in-out;

            }
            &:active{
                height: 10rem;
                transition: height .5s ease-in-out;

            }

            ul{
                list-style: none;
            }
        }

        .my-col {

            .title {
                background-color: rgb(171, 186, 186);

                span {
                    font-family: 'title-font';
                }
            }


            .weight-height-input-div {

                div {

                    div {


                        input {
                            &::-moz-range-thumb {
                                background: rgb(171, 186, 186);
                            }
                        }

                    }
                }
            }


            .btn-div {

                button {
                    color: black;
                    background-color: rgb(171, 186, 186);
                    padding: .4rem 2rem;
                    transition: padding .2s ease-in-out;

                    &:hover {
                        padding: .4rem 3rem;
                        transition: padding .4s ease-in-out;
                    }

                    &:active {
                        background-color: rgb(136, 141, 141);
                    }
                }
            }
        }
    }
}